<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div *ngIf='!isLogged()' class="alert alert-warning" role="alert">
          You need to <a href="#" class="alert-link">Log in</a> to perform this action
        </div>
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Search </h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">FileName: </label>
                <input type="text" [(ngModel)]="searchData.filename" name="filename" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label>FileType: </label>
                <input type="text" [(ngModel)]="searchData.filetype" name="filetype" class="form-control rounded-0"  required>
              </div>
              <div class="form-group">
                <label>Uploaded: </label>
                <input type="text" [(ngModel)]="searchData.uploaded" name="uploaded" class="form-control rounded-0"  required>
              </div>
              <div class="form-group">
                <label>User: </label>
                <input type="text" [(ngModel)]="searchData.user" name="owner" class="form-control rounded-0"  required>
              </div>
              <button type="button" (click)="search()" class="btn btn-primary float-right">Search</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>

