<!-- <p *ngFor="let tempFile of allFiles">
    {{tempFile.name}}  | {{tempFile.size}}
</p> -->
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>ULake Datasets</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>File size</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tempFile of allFiles">
                        <td>{{tempFile.name}} </td>
                        <td>{{tempFile.size}}</td>
                        <td>
                            <button (click)="downloadFile(tempFile.name)">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>     